# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.ipynb_checkpoints/

# Uploads
uploads/

# Environment
.env
.env.local
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
